<h1>Listing articles</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="5"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td>
        <%= article.title %>
      </td>
      <td>
        <%= article.text %>
      </td>
      <td>
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to 'Show', article_path(article), class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %>
          <%= link_to 'Destroy', article_path(article), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'New article', new_article_path, class: 'btn btn-primary' %>
</div>
<div>
  <%= paginate @articles, :theme => 'twitter-bootstrap-3' %>
</div>
