<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @article.title %></h2>
  <h5 class="text-center"><%= @article.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @article.text %></div>
</div>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default'%>
  <%= link_to 'Back', articles_path, class: 'btn btn-default' %>
</div>

<div>
  <h3>Comments</h3>
    <%= render @article.comments %>

  <h3>Add a comment:</h3>
    <%= render 'comments/form'%>
</div>
