<%= simple_form_for @user do |f| %>
    <h1>My profile</h1>
    <div class="form-group">
      <%= image_tag @user.avatar.url(:medium), id: 'user-avatar-preview' %>
    </div>
    <%= f.input :first_name, placeholder: 'First name' %>
    <%= f.input :last_name, placeholder: 'Last name' %>
    <%= f.input :avatar, as: :file %>
    <%= f.button :submit, class: 'btn btn-primary'%>
    <%= link_to 'Back', root_path, class: 'btn btn-default' %>
<% end %>